@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'computer says no';
    src: url(computer-says-no/computer-says-no.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

/* -----UTILITIES / CLASSES----- */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 16px 32px;
    border-radius: 64px;
    background-color: #FFDE59;
    border: none;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.h1{
    font-family: 'Computer says no';
    font-weight: 400;
    font-size: 112px;
}

.h2{
    font-family: 'Computer says no';
    font-weight: 400;
    font-size: 104px;
}

.h4{
    font-family: 'Computer says no';
    font-weight: 400;
    font-size: 64px;
}

.p-work-sans{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
}

.p-roboto{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
}

.block{
    display: block;
}

/* ----HEADER----- */
#header{
    height: 100vh;
}

nav.flex{
    justify-content: space-between;
    padding: 2% 6%;
    position: relative;
}

.navlist ul li{
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;
}

.navlist ul li i{
    margin-left: 10px;
}

.navlist ul.dropdown{
    display: none;
}

.navlist .btn{
    padding: 10px 28px;
    font-size: 16px;
}

 main.grid{
    align-items: center;
    padding-inline: 6%;
    min-height: 80%;
}

main p{
    margin-block: 20px;
}

main img{
    width: 100%;
}

i.fa-bars,
i.fa-xmark{
    display: none;
}

/* -----ABOUT US----- */
#about-us{
    padding: 60px 30px;
    background-color: #000;
}

#about-us .container{
    background-color: #fff;
    padding: 70px 40px;
    align-items: center;
    border-radius: 10px;
}

#about-us .grid{
    grid-template-columns: 1.5fr 1fr;
}

#about-us h1{
    margin: 30px 0;
}

#about-us .card{
    background-color: #FFDE59;
    border-radius: 10px;
    max-width: fit-content;
    padding: 2px 10px;
    min-width: 80%;
    margin: 0 auto;
}

#about-us .community{
    background-color: #FFFDF2;
    margin-block: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    border: 1px solid black;
}

#about-us .community p{
    margin-bottom: 10px;
}

#about-us .community span{
    font-weight: 600;
}

/* -----STAKE WITH US----- */
#stake{
    text-align: center;
    margin-block: 60px;
}

#stake .text{
    text-align: left;
    padding-left: 40px;
}

#stake p{
    font-weight: 600;
    margin-bottom: 15px;
}

#stake .container{
    width: 85%;
    margin: 80px auto;
    gap: 30px;
}

/* -----TRUSTED----- */

#trusted{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-block: 80px;
}

#trusted .container{
    width: 90%;
    padding-block: 40px 0;
    margin: 0 auto;
}

#trusted .container ul{
    flex-wrap: wrap;
    margin: 0 auto;
}

#trusted .container ul li{
    margin-inline: 20px;
    list-style: none;
    margin-block: 20px;
}

/* -----POOL----- */
#pool{
    margin: 80px 0;
    text-align: center;
}

#pool .container{
    background-color: rgb(245,245,245);
    max-width: fit-content;
    padding: 40px 40px;
    margin: 50px auto;
}

#pool .card{
    background-color: #FFDE59;
    border: 1px solid black;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
}

#pool .card:last-child{
    border-right: none;
}

#pool .info{
    padding-inline: 10px;
    margin-block: 10px;
    border-right: 1px solid black;
}

#pool .info >p{
    font-size: 35px;
    font-weight: 600;
    margin-block: 0 10px;
}

#pool .text{
    margin-block: 30px;
    font-size: 28px;
}

#pool .text p{
    margin-block: 10px;
    word-wrap: break-word;
}

#pool button{
    margin-inline: 20px;
}

#pool .info:nth-of-type(6){
    border-right: 0;
}

/* -----CALCULATOR----- */
#calculator .container{
    background-image: url(./img/africa\ map\ bg.jpg);
    background-position: center;
    background-size: cover;
}

#calculator .overlay{
    height: 100%;
    width: 100%;
    background: rgba(255, 222, 89, 0.9);
    padding: 90px 30px;

}

#calculator .calculator{
    background: #fff;
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

#calculator .calculator .flex{
    justify-content: space-between;
    margin-block: 20px;
}

#calculator .calculator h3{
    font-size: 32px;
    font-weight: 500;
    text-align: center;

}

#calculator .calculator h4{
    font-size: 28px;
}

#calculator .calculator p{
    font-size: 20px;
}

#calculator .calculator span{
    margin-left: 40px;
}

#calculator .calculator input{
    width: 100px;
    padding: 6px 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}

/* -----DELEGATE----- */
#delegate{
    margin: 80px 0;
    text-align: center;
}

#delegate .container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
    width: 82%;
    margin: 40px auto;
}

#delegate h4{
    font-weight: 600;
    margin: 20px 0;
}

#delegate p{
    font-size: 16px;
}

/* -----POA PROJECTS----- */
#projects{
    background-color: #000;
    color: #fff;
    padding: 80px 80px;
}

#projects .grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}

#projects .col{
    max-width: fit-content;

}

#projects .grid .span2{
    grid-column: 1 / 3;
    margin: 0 auto;
    padding: 40px;
}

#projects .grid .span2 .text{
    padding: 0;
}

#projects .grid .span2 .text p{
    padding-right: 140px;
}

#projects .grid .span2 img{
    margin: 0 auto;
}

#projects .col{
    background-color: #121212;
    position: relative;
}

#projects .container h4{
    font-size: 32px;
    font-weight: 500;
}

#projects .container p{
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 30px;
}

#projects img{
    max-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 40px;
}

#projects .bottom{
    position: absolute;
    bottom: 0;
}

#projects .span1 .text{
    padding: 40px;
} 

/* -----TEAM----- */
#team{
    text-align: center;
    background-color: #FFF8DE;
    padding-block: 70px;
}

#team .grid{
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    margin: 60px auto;
    column-gap: 20px;
}

#team .grid img{
    max-width: 100%;
}

#team h4{
    font-weight: 600;
}

#team p{
    margin-block: 10px 20px;
}

#team a{
    color: inherit;
    font-size: 16px;
}

/* -----QUESTIONS----- */
#questions{
    text-align: center;
    width: 71.5%;
    margin: 80px auto;
}

#questions h2{
    margin-block: 0 30px;
}

#questions h2 span{
    background-color: #FFDE59;
}

#questions .container{
    margin-block: 50px;
    text-align: left;
}

#questions .question-answer{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

#questions p.question{
    font-weight: 500;
    justify-content: space-between;
}

#questions p.answer{
    display: none;
    margin-block: 10px 0;
    font-size: 18px;
}

#questions p.question>i:hover p.answer{
    display: block;
}

/* -----FOOTER----- */
footer{
    background-color: #000;
    margin-top: 240px;
}

/* -----CONTACT US----- */
#contact-us{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 90px ;
    position: relative;
    top: -160px;
}

#contact-us span{
    background-color: #FFDE59;
}

#contact-us p{
    margin-block: 20px;
}

#contact-us label{
    margin-block: 15px 10px;
}

#contact-us input,
#contact-us select,
#contact-us textarea{
    padding: 9px;
    border-radius: 8px;
    min-width: 330px;
    border: 1px solid black;
}

#contact-us textarea{
    min-width: 70%;
}

#contact-us .col{
    text-align: left;
    margin-inline: 10px;
}

/* ------SUB FOOTER----- */
#footer{
    color: #fff;
    width: 90%;
    margin: 0 auto;
}

#footer .grid{
    column-gap: 60px;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
}

#footer .grid p{
    margin-block: 10px;
}

#footer .grid input{
    background-color: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

#footer .input{
    justify-content: space-between;
    padding-block: 15px;
    border-bottom: 2px solid #EAEAEA;
    margin-bottom: 20px;
}

#footer .input .p-work-sans{
    font-size: 16px;
}

#footer .input button{
    padding: 13px;
}

#footer .company li,
#footer .follow-us li{
    padding: 8px 0;
    font-size: 14px;
}

#footer .company li:first-child,
#footer .follow-us li:first-child{
    font-weight: 600;
    font-size: 18px;
}

#footer .follow-us li i{
    padding-right: 20px;
}

#footer .list{
    /* align-items: end; */
    justify-content: space-around;
}

#footer .last{
    margin-top: 40px;
    border-top: 2px solid #EAEAEA;
    padding-block: 30px;
}

#footer .last .text{
    justify-content: space-between;
}

#footer .last .text p{
    font-size: 14px;
}

#footer .last ul li{
    display: inline-block;
    margin-inline:0 20px;
    font-size: 14px;
    text-decoration: underline;
}

#footer .last ul li:hover{
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    /* -----UTILITIES/CLASSES */

    .grid{
        grid-template-columns: 1fr;
        /* width: 100%; */
    }

    .flex{
        flex-direction: column;
    }

    .h1{
        font-size: 64px;
    }

    .h2{
        font-size: 56px;
    }

    .h4{
        font-size: 40px;
    }

    .p-roboto{
        font-size: 16px;
    }

    .p-work-sans{
        font-size: 16px;
    }

    .btn{
        padding: 8px 12px;
        border-radius: 30px;
        font-family: 'roboto';
        font-weight: 400;
        font-size: 14px;
    }

    /* -----HEADER----- */
    #header{
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    nav.flex{
        flex-direction: row;
    }

    main.grid{
        min-height: 100vh;
        text-align: center;
    }

    main .text{
        margin-block: 04px;
    }

    main .image{
        height: 100%;
        margin: 0 auto;
    }    

    .navlist{
        position: absolute;
        width: 40%;
        top: 0;
        right: -40%;
        background-color: red;
        height: 100vh;
        padding: 20px 10px;
    }

    .navlist ul li{
        display: block;
        border-bottom: 3px solid black;
        margin-block: 30px;
        padding-block: 10px;
        font-size: 20px;
    }

    i.fa-bars,
    i.fa-xmark{
        display: block;
        font-size: 32px;
    }

    /* -----ABOUT US----- */
    #about-us{
        margin-block: 100px;
    }

    #about-us .grid{
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center;
    }

    #about-us .card{
        min-width: 100%;
        margin-block: 30px 0;
    }

    #about-us .flex {
        flex-direction: row;
    }

    /* -----STAKE WITH US----- */
    #stake .flex{
        width: 90%;
        margin: 0 auto;
    }

    #stake .col .text{
        padding: 0;
        text-align: center;
    }

    /* ------TRUSTED----- */

    #trusted .container ul{
        flex-direction: row;
        justify-content: space-around;
    }

    /* -----POOL----- */
    #pool .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    #pool .info:nth-of-type(even){
        border-right: 0;
    }

    #pool button{
        display: block;
        margin: 0 auto;
        margin-block: 20px;
    }

    #pool p.flex{
        text-wrap: wrap;
    }

    /* -----CALCULATOR----- */
    #calculator{
        text-align: center;
    }

    #calculator .calculator{
        min-width: 100%;
        margin-block: 30px 0;
        flex-direction: row;
    }

    #calculator .col h2{
        margin-block: 0 30px;
    }

    #calculator .calculator .flex{
        flex-direction: row;
    }

    #calculator .calculator p,
    #calculator .calculator input{
        font-size: 16px;
    }

    /* -----DELEGATE----- */
    #delegate .grid{
        grid-template-columns: 1fr;
    }

    /* -----POA Projects----- */
    #projects .container{
        grid-template-columns: 1fr;
       
    }

    #projects .grid .span2{
        grid-column: 1; 
        grid-template-columns: 1fr;
    }

    /* -----TEAM----- */
    #team .grid{
        grid-template-columns: 1fr;
    }

    /* -----QUESTIONS----- */
    #questions .flex{
        flex-direction: row;
    }

    /* -----FOOTER----- */
    #footer .grid{
        /* column-gap: 60px; */
        grid-template-columns: 1fr;
    }

    #footer .last .text{
        align-items: start;
    }

    #footer .last .text p{
        margin-block: 0 10px;
    }

    #footer .last ul li{
        font-size: 12px;
        margin-inline: 0 8px;
    }

    #footer .list{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
}













/* .h1{
    font-family: 'Computer says no';
    font-weight: 400;
    font-size: 6.5em;
    line-height: 72px;
}

.h2{
    font-family: 'Computer says no';
    font-weight: 400;
    font-size: 98px;
    line-height: 68px;
}

.h3{
    font-family: 'Computer says no';
    font-weight: 400;
    font-size: 64px;
    line-height: 21px;
}

.p-work-sans{
    font-family: 'work sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.p-roboto{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
}

.button{
    padding: 16px 32px;
    border-radius: 64px;
    background-color: #FFDE59;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 70px;
    position: relative;
}

nav .fa-xmark,
nav .fa-bars{
    display: none;
}

nav .mobile img{
    display: none;
}

.nav-links ul li{
    display: inline-block;
    padding: 0 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    position: relative;
}

.nav-links ul li i{
    padding-inline: 10px;
}

ul.dropdown{
    display: none;
    border-radius: 10px;
    position: absolute;
    border: 1px solid black;
    margin-top: 10px;
    width: 160px;
    height: 110px;
    background: #fff;
}

ul.dropdown li{
    display: block;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

main > .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}


main .two > img{
    width: 100%;
} */

/* ------------------------------------ */
/* ----------------------------------------- */

/* main .row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

main p{
    margin-block: 20px;
} */

/* -----ABOUT US----- */

/* #about-us{
    padding: 80px 20px;
    background-color: #000;
}

.row{
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    padding: 60px 55px;
}

.one .h2{
    margin-block: 30px;
}

.row .one{
    text-align: left;
}

.two .container{
    background: #FFDE59;
    width: 400px;
    height: 320px;
    border-radius: 12px;
    border: 2px;
    padding: 16px;
    margin: 0 auto;
}

.container .community{
    background-color: #FFFDF2;
    width: 99%;
    height: 30%;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0 20px;
}

.community .text p{
    font-size: 16px;
}

.bold{
    font-weight: 700;
    font-size: 20px;
}

.community .image{
    background-color: #FFDE59;
    border-radius: 50%;
    padding: 10px;
}

 /* -----STAKE------ */
 /* #stake{
    text-align: center;
}

#stake .row{
    width: 80%;
    margin: 0 auto;
    column-gap: 60px;
    row-gap: 60px;
} 

 #stake .col{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
 }

 .col h4{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
 }

 .col p{
    font-size: 20px;
 }

 /* -----TRUSTED------ */
/* #trusted{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-block: 40px;
}

#trusted .row{
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding:  0;
}

#trusted .grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 50px 0;
}

#trusted .grid-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 40px;
}  */ */

    /* -----POOL----- */
/* #pool{
    padding: 80px;
    text-align: center;
}

#pool .container{
    background-color: #F9F9F9;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

#pool .grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 900px;
    margin: 0 auto;
    background-color: #FFDE59;
    border: 1px solid black;
}

p.header{
    font-weight: 600;
    font-size: 38px;
    line-height: 72px;
    border-right: 0.5px solid #333333;
    margin-block: 10px;
}

p.header:nth-child(4){
    border-right: 0;
}

.header > span{
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}

#pool .container > p{
    font-size: 28px;
    margin-block: 40px;
} */

/* -----CALCULATOR----- */
/* #calculator{
    background: url(./img/africa\ map\ bg.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}

#calculator .row{
    padding: 0;
    background: transparent;
    position: absolute;
    top: 20%;
    padding: 0 50px;
}

#calculator .row .two{
    background: #fff;
    width: 480px;
    height: 295px;
    border-radius: 16px;
    margin: 0 auto;
    padding: 30px 30px;
}

#calculator .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 222, 89, 0.9);
}

#calculator .ros{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DBDBDB;
    padding-block: 20px;
}

#calculator .amount,
.rewards{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-block: 20px 20px;
}

#calculator .amount input{
    width: 100px;
    padding: 8px 0;
    font-weight: 500;
}

#calculator .amount > span,
.rewards > span{
    font-weight: 500;
} 


/* -----DELEGATE----- */

/* #delegate{
    text-align: center;
    margin: 40px;
}

#delegate .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28px;
    width: 90%;
    margin: 30px auto;
}

#delegate h3{
    font-weight: 600;
    font-size: 30px;
    margin-block: 20px;
}

#delegate p{
    font-size: 18px;
} */ */

/* -----POA PROJECTS----- */
/* #projects{
    background-color: #000;
    color: #fff;
}

#projects .row{
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#projects .col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

#projects .col-2,
#projects .col{
    background-color: #121212;
}

#projects .text{
    padding: 30px;

}

#projects .image img{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#projects h3{
    font-size: 28px;
    font-weight: 500;
}

#projects  p{
    font-size: 16px;
    font-weight: 400;
    margin-block: 20px;
}

#projects .col-2 .image{
    margin: 0 auto;
}

#projects .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block: 30px 0;
    column-gap: 20px;
} */

/* -----TEAM----- */
/* #team{
    text-align: center;
    background-color: #FFF8DE;
    padding-block: 80px;
}

#team .row{
    background-color: inherit;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
}

#team .name{
    font-weight: 600;
    font-size: 20px;
}

#team .role{
    font-size: 18px;
}

#team .socials a{
    padding-block: 10px 0;
    color: inherit;
}

@media screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }

    .h1{
        font-size: 64px;
        line-height: 40px;
    }

    .h2{
        font-size: 56px;
    }

    .h3{
        font-size: 40px;
    }

    .row{
        flex-direction: column;
    }

    .row{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    #header{
    }

    nav{
    }

    nav .fa-xmark,
    nav .fa-bars{
        display: block;
        font-size: 32px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        top: 0;
        right: -50%;
        background-color: #fff;
        height: 100vh;
        width: 50%;
        padding-block: 20px 0;
        padding-inline: 20px;
    }

    nav .mobile img{
        display: block;
        Width: 124px;
        height: 30px;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .nav-links ul li {
        border-bottom: 2px solid black;
        padding-block: 20px;
        font-family: 'roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    ul.dropdown{
        background-color: transparent;
        border: 0;
        position: relative;
        padding-bottom: 0;
    }

    ul.dropdown li{
        border: none;
        padding: 5px 5px;
    }

    .button{
        margin-top: 30px;
    } */

/* -----ABOUT US------ */
    /* #about-us{
        text-align: center;
    } */


    /* -----PARTNERS----- */
    /* #trusted .grid,
    #trusted .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        padding-inline: 0;
    }
} */